<div class="container" div class="input-group mb-3">

<h1>Stupid Coaching</h1>

<div class="input-group mb-4">
  <form action="answer" data-turbo="false">
    <input class="form-control" type="text" name="answer">
    <input class="input-group-text" type="submit" value="Ask!">
  </form>
</div>

  <div class="input-group mb-4">
    <form action="answer" data-turbo="false">
      <input type="text" class="form-control" name="answer">
      <span class="input-group-text" type="submit" value="Ask!">Ask!</span>
    </form>
  </div>

</div>

