<div class="container" div class="input-group mb-3">

<h1>Stupid Coaching</h1>

<label for="stupid-coach">Ask your coach anything</label>

  <div class="input-group mb-3">
    <form action="/answer" data-turbo="false">
      <input type="text" class="form-control" name="question">
      <input class="btn btn-primary" type="submit" value="Ask!">
    </form>
  </div>

</div>
